@font-face {
    font-family: 'Freestyle Script';
    src: local('Freestyle Script'),
    url(/fonts/FreestyleScript.ttf);
}
@font-face {
    font-family: 'Candara';
    src: local('Candara'),
    url(/fonts/Candara.ttf);
}
html,
body {
    position: relative;
    height: 90%;
}

* {
    margin: 0;
    padding: 0;
}

.swiper {
    font-family: Candara, serif;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.promo-text {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Freestyle Script", serif;
    font-size: large;
    font-weight: 200;
    text-shadow: 0px 4px 4px #f4f0ff, 0 0 1em grey;
    color: #333333;
    line-height: 56px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: flex;
    height: fit-content;

}

.button__buy {
    background-color: transparent;
    padding: 0.5em 2em;
    border-color: black;
    max-width: 100%;
    text-transform: uppercase;
    margin: 0 1em;
}
.product-info {
    display: grid;
    margin: 1em;
}
.brand {
    color: lightslategrey;
}
.swiper-button-prev {
    color: black;
}

.swiper-button-next {
    color: #000;
}
.swiper-button-prev {
    color: black;
}

.product-info {
    padding: 0.5em;
}
.promo-container {
    display: grid;
    grid-template-areas: "promo-image promo-product";
    justify-content: center;
    gap: 1em;
}
.promo-product {
    grid-area: promo-product;
    margin-top: 2em;
}
#promo-img {
    grid-area: promo-image;
    margin: 2em;
}

.footer{
    display: grid;
    grid-template-rows: 3fr 3fr 3fr 1fr ;
    width: 100%;
height: 30%;
background-color: #000;
}
.first_line{
    grid-row: 1/4;
    grid-column: 1/1;

}
.second_line {
    grid-row: 3/4;
    grid-column: 1/1;
}

.forth_line{
    grid-row: 4/4;
    grid-column: 1/1;

}
.second_line{
    grid-row: 2/4;
    grid-column: 1/1;
}
.first_line {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    


}
.second_line{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10vh;
}

.suivez{
    grid-row: 1/1;
    grid-column: 1/4;
    padding-left: 10vh;
}

.confidentilite{
    grid-row: 1/1;
    grid-column: 2/4;
    padding-left: 10vh;
}

.conditions{
    grid-row: 3/1;
    grid-column: 3/4;
    text-align: center;
}

.contacts {
    grid-row: 1/1;
    grid-column: 4/4;
    text-align: left;
}

.forth_line{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    font-family: Candara, serif;
    font-style: normal;
    font-weight: normal;
    color: white;
}
.faq{
    grid-row: 1/1;
    grid-column: 1/5;
    padding-left: 10vh;
    padding-top: 10vh;
    
}
.paiement{
    grid-row: 1/1;
    grid-column: 2/5;
    padding-top: 10vh;

}
.logo_footer{
    grid-row: 1/1;
    grid-column: 3/5;


}
.button_footer {
    grid-row: 1/1;
    grid-column: 5/5;
    margin-top: 5vh;
    text-align: left;
}

.news{
    grid-row: 1/1;
    grid-column: 4/5;
    padding-top: 10vh;

}

.faq,.paiement,.news, .button_footer, .suivez, .contacts, .conditions, .confidentilite {
    font-family: Candara, serif;
    font-style: normal;
    font-weight: normal;
    color: white;

}
#logo_footer{ 
    position: absolute;
    left: 43%;
    
}
img{
    max-width: 100%;
}
.button_footer{
    background-color: transparent;
    Width:200px;
    Height:40px;
    border-color: rgb(255, 255, 255);

}
#mail{
    padding-left: 20px;
}

.lang{
text-decoration: underline;
text-align: right;
padding-right: 10vh;
}

.inst{
    width: 31px;
    height: 31px;
}

.inst, .logo_contacts{
    padding-right: 18px;
    padding-top: 18px;
}

/*Стиль Header*/
a {
    text-decoration: none;
    color: #000;
}
.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}
@media screen and (max-width: 1023px) and (min-width: 375px) {
    .promo-container {
        display: grid;
        grid-template-areas: "promo-image"
                                "promo-text"
                                "promo-product";
        justify-content: center;
        font-size: 1em;
        margin-bottom: 1em;
    }
    .promo-text {
        grid-area: promo-text;
    }
    .promo-product {
        grid-area: promo-product;
        margin-bottom: 1em;
    }
    #promo-img {
        grid-area: promo-image;
       max-width: 90%;
    }
    .product-image {
        max-width: 100%;
    }
}
